html {
    height: 100%;
    text-align: center;
    background-color: aquamarine;
}

#calculator {
    position: relative;
    top: 50px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    width: 320px;
    height: 450px;
    text-align: center;
    border-width: 1px;
    border-color: rgb(179, 176, 176);
    border-style: solid
}

#display {
    height: 60px;
    width: 300px;
    position: relative;
    top: 30px;
    margin: 0 auto;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(179, 176, 176);
    border-style: solid;
    text-align: right;
}

#displayText{
    position: relative;
    top: 20px;
    right: 10px;
    font-family: "Courier";
    font-size: 25px;
    height: 30px;
    width: 260px;
}

#buttons {
    text-align: center;
    position: relative;
    top: 50px;
}

.row {
    margin-top: 5px;
}

button {
    margin: 0 2px;
    width: 70px;
    height: 60px;
    border-radius: 10px;
    border-style: solid;
    color: none;
}