html {
    height: 100%;
    text-align: center;
    background-color: aquamarine;
}

#calculator {
    position: relative;
    top: 50px;
    margin: 0 auto;
    background-color: rgb(11, 11, 61);
    border-radius: 30px;
    width: 320px;
    height: 430px;
    text-align: center;
    border-width: 1px;
    border-color: rgb(179, 176, 176);
    border-style: solid
}

#display {
    height: 60px;
    width: 300px;
    position: relative;
    top: 20px;
    margin: 0 auto;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(179, 176, 176);
    border-style: solid;
    text-align: right;
    background-color: white;
}

#displayText{
    position: relative;
    top: 20px;
    right: 10px;
    font-family: "Courier";
    font-size: 25px;
    height: 30px;
    width: 200px;
}

#buttons {
    text-align: center;
    position: relative;
    top: 30px;
}

.row {
    margin-top: 5px;
}

button {
    margin: 0 2px;
    width: 70px;
    height: 60px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    color: none;
    border-width: 2px;
    transition: all 0.1s;
    font-size: 20px;
}

button.number {
    border-color: black;
}

button:hover {
    filter: brightness(90%);
}

button.operator:hover, button.option:hover {
    filter: brightness(110%);
}

button.equal:hover{
    filter:brightness(115%);
}

button[disabled="true"]:hover {
    filter: brightness(100%);
}

button.equal {
    background-color: rgb(212, 60, 60);
    color: white;
    font-weight: bold;
}
button.operator, button.option {
    background-color: lightsalmon;
    color:white;
}


button:active {
    transform: scale(0.9);
}

button:focus {
    outline:0;
}

